@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select,
  textarea,
  select {
    background-color: transparent;
    font-size: 0.875rem;
    box-shadow: none !important;
  }
}

.bg-main {
  @apply bg-gray-100 dark:bg-neutral-900 duration-100;
}

/* TODO: rename */
.bg-second {
  background-color: rgb(var(--v-theme-surface));
}

.v-overlay__scrim {
  @apply dark:!bg-neutral-900;
}

.text-field-compact {
  @apply h-8;
  .v-field {
    @apply h-8 !p-0;

    .v-field-label {
      @apply text-sm;
    }

    .v-field__input {
      @apply min-h-8 !py-0;
    }
  }
}

.carousel__prev,
.carousel__next {
  --vc-nav-background: rgba(var(--v-border-color), var(--v-border-opacity));
  --vc-nav-border-radius: 1rem;
}
